.banner{
    background: grey;
    width: 100%;
    text-align: center;
}

.box{
    flex: 0 0 40%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px red;
}

/*  form bar ---------------------------------------*/
.form1{
    width: 100px;
    align-items: center;
}
/*  navigation bar ---------------------------------------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


li {
    text-align: center;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    
}
  
li a:hover {
    background-color: #111;
}
.center-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------basket-------------------------*/ 

.bast2-heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.column {
    text-align: center;
}

table {
    margin: 0 auto;
    width: 70%; /* Adjust width as needed */
}

th, td {
    padding: 10px;
}

th {
    background-color: #f2f2f2; /* Light gray background for header */
}

/* ------------------------image layout-------------------------*/ 
.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px; 
}

.box {
    width: calc(33.33% - 10px);
    border: 1px solid red;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.box img {
    display: block;
    margin: 0 auto;
}

.box li {
    padding: 10px;
    list-style: none;
}